.NavbarItems{
    /* background-color: grey; */
    width: 100%;
    /* position:absolute; */
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
.Items{
    /* padding-top: 4%; */
    /* background-color: #24e1bc; */
    display: flex;
    justify-content: center;
}
.Navbar-logo{
    font-size: 30px;
    letter-spacing: 10px;
    color: #24e1bc;
    padding-left:10px;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
    text-align: center;
}
.Nav-links{
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
}
.itemIcon{
    display: flex;
}
.Nav-links:hover{
    font-style: italic;
    color:#24e1bc;
    cursor: pointer;
}