.NavbarItems{
    width: 100%;
    /* position:absolute; */
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
.Items{
    display: flex;
    justify-content: center;
}
.Navbar-logo{
    font-size: 30px;
    letter-spacing: 10px;
    color: #FF4B38;
    padding-left:10px;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
    text-align: center;
}
.itemIcon{
    display: flex;
}                                                                          
.Nav-links{
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    font-size: 17px;
    color: #565656;
    text-decoration: none;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 500;
}
.Nav-links:hover{
    font-style: italic;
}
a.Nav-links{
	position: relative;
}
 
a.Nav-links:before {
	content: "";
	position: absolute;
	width: 0;
	height: 4px;
	bottom: -5px;
	left: 0;
	background-color: #FF4B38;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}
 
a.Nav-links:hover:before {
	visibility: visible;
	width: 100%;
}