* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}
nav > h3, nav > h4{
    margin: 0;
}
nav >h3{
    color: #DEEBF8;
}
nav > h4{
    color: white;
}
nav > img {
    height: 30px;
}
main{
    padding: 557px 27px;
    color: white;
}